body{ 
    margin: 0; 
    padding: 0; 
    background: rgba(255, 255, 100, .3);
    position: relative; 
}
#mostrar-modal{
    background: lightgreen;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
}
#mostrar-modal span{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: 600;
}

#modal{
    position: absolute;
    background: rgba(0, 0, 0, .25);
    top: -100vh;
    width: 100%;
    height: 100vh;
    transition: all .5s; 
} 

#modal .contenido-modal p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#cerrar-modal{
    background: red;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 93%;
    position: relative;
}

#cerrar-modal span{
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mostrar-modal{
    top: 0!important;
}