.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    /*Centrar el hijo con flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Overlay no visible*/
    visibility: hidden;
}

.overlay.activo{
    /*Overlay visible*/
    visibility: visible;
}

.overlay .popup{
    background: #fff;
}